{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Deb8teHub - Tmp Dir</title>
	{% block style_link %}
	<link rel="stylesheet" type="text/css" href="../static/tmp.css">
	{% endblock style_link %}

</head>
<body>

	{% block page_content %}

		<h1>Temporary Page Directory For Easy Developer Access</h1>
		<ul>
			<li class="hover_hidden"><a href="index.html">Index</a></li>
			<li class="hidden"><a href="index.html">Home page of Deb8teHub</a></li>
			<li class="hover_hidden"><a href="auth_form.html">Auth_Form</a></li>
			<li class="hidden"><a href="auth_form.html">Authentication form for Deb8teHub</a></li>
			<li class="hover_hidden"><a href="user_index.html">User_Index</a></li>
			<li class="hidden"><a href="user_index.html">Home page once user has logged into Deb8teHub</a></li>
			<li class="hover_hidden"><a href="user_profile.html">User_Profile</a></li>
			<li class="hidden"><a href="user_profile.html">User's Deb8teHub profile page and edit details</a></li>
			<li class="hover_hidden"><a href="user_feed.html">User_Feed</a></li>
			<li class="hidden"><a href="user_feed.html">User's Deb8teHub post feed and management</a></li>
		</ul>

	{% endblock page_content %}

</body>
</html>