<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static_files_move_later/index_style.css">
    <title>Deb8teHub - Home</title>
</head>

<body>

    <!--Deb8teHub header/image-->

    <div>

        <h1><span>Deb8teHub - Home of Debate and Discourse</span></h1>
        <img src="./static_files_move_later/debate.png" alt="Debate Clip Art" width="200" height="400">
        <br><br>

    </div>

    <!--objective statement-->

    <div>

        <hr><h3>Objective Statement</h3>
        <p>
            Deb8Hub is the premier place for users to intelligently debate online about certain ongoing world problems. Our objective is for users to debate about
            trending global topics sensibly without using vulgar language while also promoting stimulating and healthy conversations
        </p>

    </div>

    <!--site links-->
    <!--(tmp) marked links exist as a temporary view of pages prior to project configuration-->

    <div>

        <h3>Site Links</h3>
        <ul>
            <li><a href="auth_form.html">Login/Sign Up</a></li>
            <li><a href="user_index.html">User Home Page (tmp)</a></li>
            <li><a href="user_profile.html">User Profile Page (tmp)</a></li>
            <li><a href="user_feed.html">User Feed Page (tmp)</a></li>
        </ul>  

    </div>  

</body>

</html>
