<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Deb8teHub - Tmp Dir</title>
</head>
<body>
	<h1>Temporary Page Directory For Easy Developer Access</h1>
	<ul>
		<li><a href="index.html">Index</a></li>
		<li><a href="auth_form.html">Auth_Form</a></li>
		<li><a href="user_index.html">User_Index</a></li>
		<li><a href="user_profile.html">User_Profile</a></li>
		<li><a href="user_feed.html">User_Feed</a></li>
	</ul>
</body>
</html>