<!DOCTYPE html>
<html>

<head>

    <link rel="stylesheet" type="text/css" href="static_files_move_later/user_index_style.css">
    <title>Deb8teHub - User Home</title>

</head>

<body>

    <!--Deb8teHub welcome message-->

    <h1>Welcome to Deb8teHub User.usrname</h1><hr><br><br>

    <!--Deb8teHub developments-->


    <h3>Deb8teHub Developments</h3>

    <ul>

        <li><strong>Deb8teHub Stats</strong></li><br>

            <ul>

                <li class="nested">Total Registered Deb8ters = Website.users.count()</li>
                <li class="nested">Total Deb8te Posts = Website.users.posts.count()</li>

            </ul>

    </ul>

    <ul>

        <li><strong>New Feature Drop</strong></li><br>

            <ul>

                <li class="nested">Increased Website Concurrency</li>
                <li class="nested">Additional Commenting Features</li>

            </ul>

    </ul>

    <!--User personal links-->

    <h3>Personal Links</h3>

    <ul>

        <li><a href="user_profile.html">User Profile Page</a></li>
        <li><a href="user_feed.html">User Feed Page</a></li>
        <li><a href="index.html">Logout</a></li>

    </ul>    

</body>

</html>