body {

    background-color: #8FA0C1;
    
}

h1 {

    color:black;
    text-align:center;
    font-family: Arial, Verdana, Tahoma, sans-serif;

}

hr {

    border: 2px solid black;

}

input[type="text"], input[type="password"] {

    width: 25%;
    margin-bottom: 10px;
    border: 1px solid black;

}

span.form {

    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-weight: bold;

}

input[type="submit"], input[type="reset"] {

    width:15%;
    margin-left: 5px;
    font-weight: bold;


}

div {

    display: block;
    text-align: center;

}

a {

    text-align: justify;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: large;
    color: black;
    text-decoration: none;
    font-weight: bold;

}

a:hover {

    color:#2D4471;

}