body {

background-color: #8FA0C1;

}

h1 {

    color:black;
    text-align:center;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    border: solid 5px;

}

/*first 4 attributes center image on home page*/

img {

    display:block;
    margin-left: auto;
    margin-right: auto;
    width:50%;

}

hr {

    border: 2px solid black;

}

h3 {

    color:black;
    text-align: justify;
    font-family: Arial, Verdana, Tahoma, sans-serif;

}

p {

    color: black;
    text-align: justify;
    font-family: Arial, Verdana, Tahoma, sans-serif;

}

li {

    list-style-type: square;
    color: black;

}

a {

    text-align: justify;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    color: black;
    text-decoration: none;

}

a:hover {

    color:#2D4471;

}

footer {

    font-family: Arial, Verdana, Tahoma, sans-serif;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

}