body {

    background-color: #4E9C68;
    
}

h1 {

    color:black;
    text-align:center;
    font-family: Arial, Verdana, Tahoma, sans-serif;

}

hr {

    border: 2px solid black;

}

h3 {

    color: black;
    text-align: justify;
    font-family: Arial, Verdana, Tahoma, sans-serif;

}

li {

    list-style-type: square;
    color: black;
    text-align: justify;
    font-family: Arial, Verdana, Tahoma, sans-serif;

}

a {

    text-align: justify;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    color: #003E15;
    text-decoration: none;

}

a:hover {

    color:#297C45;

}

li.nested {

    list-style-type: circle;

}