body {

    background-color: #8FA0C1;
    
}

h1 {

    color:black;
    text-align:center;
    font-family: Arial, Verdana, Tahoma, sans-serif;

}

hr {

    border: 2px solid black;

}

h3 {

    color: black;
    text-align: justify;
    font-family: Arial, Verdana, Tahoma, sans-serif;

}

li {

    list-style-type: square;
    color: black;
    text-align: justify;
    font-family: Arial, Verdana, Tahoma, sans-serif;

}

li.nested {

    list-style-type: none;
    font-weight: normal;
    margin-bottom:10px;

}

img {

    margin-top:10px;
    margin-bottom:10px;

}

a {

    text-align: justify;
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: large;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-left: 3%;

}

a:hover {

    color:#2D4471;

}

footer {

    font-family: Arial, Verdana, Tahoma, sans-serif;
    color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-weight: normal;

}