{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Deb8teHub - User Profile</title>
	<!--Bootstrap CSS-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	{% block style_link %}
	<link rel="stylesheet" type="text/css" href="../static/user_profile.css">
	<script src="https://kit.fontawesome.com/89f94bd499.js" crossorigin="anonymous"></script>

	{% endblock style_link %}
</head>
<body>

	{% block page_content %}

	<!--Bootstrap Navbar-->
	<nav class="navbar navbar-expand-lg nav-cust">
	  <div class="container-fluid">
	    <a class="navbar-brand" href="#">Deb8teHub - {{user.username}}</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="fa-solid fa-house fa-lg, btn" style="color: #ffffff;" href="user_index.html"></a>
			</li>
	        <li class="nav-item">
				<a class="fa-solid fa-square-poll-horizontal fa-lg, btn" style="color: #ffffff;" href="user_feed.html"></a>
	        </li>
	        <li class="nav-item">
				<a class="fa-solid fa-arrow-right-to-bracket fa-lg, btn" style="color: #ffffff;" href="logout"></a>
	        </li>
	      </ul>
	      <form class="d-flex" role="search" method="POST" action="{% url 'search_results' %}">
			{% csrf_token %}
			<input class="form-control me-2" name="user_search" type="search" placeholder="Search" aria-label="Search">
			<button class="btn btn-outline" type="submit">Search</button>
		  </form>
	    </div>
	  </div>
	</nav>

	<br><br>

	<div class="d-flex justify-content-center text-center" style="margin-bottom:0.5%">
		{% for message in messages %}
		<h3><span class="badge bg-danger">{{message}}</span></h3>
		{% endfor %}
	</div>

	<!--Bootstrap Row Container-->
	<div class="container">
	  <div class="row">
	    <div class="col-xl-12 d-flex justify-content-center text-center">

				<!--Bootstrap Kitchen Sink Card-->
				<div class="card" style="width: 36rem;">
				  <img src="../static/profile.png" class="card-img-top" alt="Profile">
				  <div class="card-body">
				    <h5 class="card-title">{{user.username}}</h5>
				  </div>
				  <ul class="list-group list-group-flush">
				    <li class="list-group-item"><strong>Friend Count: </strong> {{user_prof.friend_count}}</li>
				    <li class="list-group-item"><strong>Like Count: </strong> {{user_prof.like_count}}</li>
					<li class="list-group-item"><strong>Comment Count: </strong> {{user_prof.comment_count}}</li>
				  </ul>
				</div>

	    </div>
		<div class="col-xl-12 d-flex justify-content-center text-center">

			<!--Manage Details Form/Button-->
			<div class="dev">
				<form id="form" action="" method="POST">
					{% csrf_token %}
					  <div class="mb-1">
						<label for="exampleInputUsername1" class="form-label">Change Username:</label>
						<input type="text" name="username" class="form-control" id="exampleInputUsername1" required>
					  </div>
					  <div class="mb-1">
						<label for="exampleInputEmail1" class="form-label">Change Email:</label>
						<input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
					  </div>
					  <div class="mb-1">
						<label for="exampleInputPassword1" class="form-label">Change Password:</label>
						<input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
					  </div>
					  <button type="submit" class="btn btn-cust">Submit</button>
				</form>
				<button id="btn" class="btn">Manage Details</button>
			</div>

		</div>
	  </div>
	</div>

	<footer>Deb8teHub &copy;</footer>

	<!--Bootstrap JS-->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
	<script src="../static/reveal_form.js"></script>

	{% endblock page_content %}

</body>
</html>